Repository sourcefuse/angular-boilerplate, pull requests merged in 2024-05, with the labels that each got.

#40 feat(arc-saas): complete frontend integration with backend
  projects/saas-ui/src/app/main/add-plan/add-plan.component.html
  projects/saas-ui/src/app/main/add-plan/add-plan.component.ts
  projects/saas-ui/src/app/main/billing-plan/billing-plan.component.ts
  projects/saas-ui/src/app/main/button-renderer/button-renderer.component.html
  projects/saas-ui/src/app/main/button-renderer/button-renderer.component.scss
  projects/saas-ui/src/app/main/button-renderer/button-renderer.component.spec.ts
  projects/saas-ui/src/app/main/button-renderer/button-renderer.component.ts
  projects/saas-ui/src/app/main/commands/edit-plan.command.ts
  projects/saas-ui/src/app/main/commands/get-currency-command.ts
  projects/saas-ui/src/app/main/commands/get-plan-by-id.command.ts
  projects/saas-ui/src/app/main/commands/get-plan.command.ts
  projects/saas-ui/src/app/main/main-routing.module.ts
  projects/saas-ui/src/app/main/main.module.ts
  projects/saas-ui/src/app/main/manage-plans/manage-plans.component.html
  projects/saas-ui/src/app/main/manage-plans/manage-plans.component.ts
  projects/saas-ui/src/app/main/services/billing-plan-service.ts
  projects/saas-ui/src/app/on-boarding/add-lead/add-lead-routing.module.ts
  projects/saas-ui/src/app/on-boarding/add-lead/add-lead.module.ts
  projects/saas-ui/src/app/on-boarding/add-tenant/add-tenant.component.ts
  projects/saas-ui/src/app/on-boarding/on-boarding-service.ts
Labels: enhancement, saas-UI

#42 style(arc-saas): change in design
  projects/saas-ui/src/app/main/components/add-plan/add-plan.component.html
  projects/saas-ui/src/app/main/components/add-plan/add-plan.component.scss
  projects/saas-ui/src/app/main/components/add-plan/add-plan.component.ts
  projects/saas-ui/src/app/main/components/billing-plan/billing-plan.component.html
  projects/saas-ui/src/app/main/components/billing-plan/billing-plan.component.scss
  projects/saas-ui/src/app/main/components/button-renderer/button-renderer.component.html
  projects/saas-ui/src/app/main/components/button-renderer/button-renderer.component.scss
  projects/saas-ui/src/app/main/components/lead-list/lead-list.component.html
  projects/saas-ui/src/app/main/components/lead-list/lead-list.component.scss
  projects/saas-ui/src/app/main/components/lead-list/lead-list.component.ts
  projects/saas-ui/src/app/main/components/manage-plans/manage-plans.component.html
  projects/saas-ui/src/app/main/components/manage-plans/manage-plans.component.scss
  projects/saas-ui/src/app/main/components/manage-plans/manage-plans.component.ts
  projects/saas-ui/src/app/main/components/onboarding-tenant-list/onboarding-tenant-list.component.html
  projects/saas-ui/src/app/main/components/onboarding-tenant-list/onboarding-tenant-list.component.scss
  projects/saas-ui/src/app/main/components/onboarding-tenant-list/onboarding-tenant-list.component.ts
  projects/saas-ui/src/app/main/main.component.html
  projects/saas-ui/src/app/main/main.component.scss
  projects/saas-ui/src/app/main/styles/grid-styles.scss
  projects/saas-ui/src/app/on-boarding/components/add-lead/add-lead.component.html
  projects/saas-ui/src/app/on-boarding/components/add-tenant/add-tenant.component.html
  projects/saas-ui/src/app/on-boarding/components/add-tenant/add-tenant.component.scss
Labels: enhancement, saas-UI

#43 style(arc-saas): Responsive pages of on-boarding module
  angular.json
  projects/saas-ui/src/app/on-boarding/components/add-lead/add-lead.component.scss
  projects/saas-ui/src/app/on-boarding/components/add-tenant/add-tenant.component.scss
  projects/saas-ui/src/app/on-boarding/components/email-verification/email-verification.component.scss
  projects/saas-ui/src/app/on-boarding/components/verification-complete/verification-complete.component.scss
  projects/saas-ui/src/app/on-boarding/styles/forms.style.scss
Labels: enhancement, saas-UI

#44 style(arc-saas): responsive screens of main module
  projects/saas-ui/src/app/main/components/add-plan/add-plan.component.html
  projects/saas-ui/src/app/main/components/add-plan/add-plan.component.scss
  projects/saas-ui/src/app/main/styles/grid-styles.scss
Labels: saas-UI

#45 style(arc-saas): responsive screen of login page
  projects/saas-ui/src/app/shared/auth/auth.component.html
  projects/saas-ui/src/app/shared/auth/auth.component.scss
  projects/saas-ui/src/app/shared/auth/login/login.component.scss
Labels: saas-UI

#47 fix(arc-saas): tested changes of Tenant hyperlink
  projects/saas-ui/src/app/main/components/onboarding-tenant-list/onboarding-tenant-list.component.scss
  projects/saas-ui/src/app/main/components/onboarding-tenant-list/onboarding-tenant-list.component.ts
  projects/saas-ui/src/app/main/main.component.scss
Labels: bug, saas-UI
